{{ define "course.html" }}
  {{ if .Course }}
    <div class="course-container">
      <h2>{{ .Course.Title }}</h2>
      <p>{{ .Course.Description }}</p>
      {{ if .Course.Prerequisites }}
        <p><b>Prerequisites:</b> {{ .Course.Prerequisites }}</p>
      {{ end }}
      {{ if .Course.Corequisites }}
        <p><b>Corequisites:</b> {{ .Course.Corequisites }}</p>
      {{ end }}
    </div>
  {{ else if .Error }}
    <p>{{ .Error }}</p>
  {{ end }}


  <style>
    .course-container {
      margin-block-start: 2rem;
      background-color: var(--color-secondary);
      padding: 1.5rem 2rem;
      border-radius: 1.25rem;
      min-height: 200px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .course-container > h2 {
      font-weight: 600;
      font-size: 1.25rem;
    }

    .course-container > p {
      font-size: 1.0625rem;
    }
  </style>
{{ end }}
